<?xml version="1.0" encoding="UTF-8" ?>
<launch>
<!--============ Add new models in path ===========-->
		<env name="GAZEBO_MODEL_PATH" value="$(find cart_opt_ctrl)/models:GAZEBO_MODEL_PATH"/>

<!--============ ATI F/T Sensor Params ============-->

    <!-- The ATI Sensor default ip -->
    <arg name="ft_ip" default="192.168.100.103"/>
    <!-- The ATI Sensor calibration index (-1 is 'use default') -->
    <arg name="ft_calibration_index" default="-1"/>
    <!-- The name of the Wrench frame -->
    <arg name="ft_frame" default="ati_link"/>

    <!-- The parameters that the ft_component sensor will get -->
    <rosparam ns="ft_sensor" subst_value="true">
        ip: $(arg ft_ip)
        calibration_index: $(arg ft_calibration_index)
        frame: $(arg ft_frame)
    </rosparam>

<!--============ LWR Runner script Params ========-->

    <!-- The end effector frame (you'll be able to use frames <= tip_link for cartesian position, jacobians etc.) -->
    <arg name="tip_link" default="ati_link"/>
    <!-- Run Simulated robot (need to 'roslaunch rtt_lwr_gazebo lwr_gazebo.launch' first) -->
    <arg name="sim" default="false" />
    <!-- The global namespace if you need to change it (unlikely) -->
    <arg name="robot_ns" default="/"/>
    <!-- Run in GDB -->
    <arg name="debug" default="false" />
    <!-- Launch rviz -->
    <arg name="rviz" default="true" />
    <!-- The level of verbose (never, fatal, critical, error, warning, info, debug, realtime) -->
    <arg name="log_level" default="error" />
    <!-- Tools -->
    <arg name="load_base" default="true" />
    <arg name="load_ati_sensor" default="true" />
    <arg name="load_calib_tool" default="true" />
    <arg name="load_handle" default="true" />
    <!-- Gazebo -->
    <arg name="gazebo_gui" default="false"/>
<!--============ CartOptCtrl Params ============-->

    <!-- The parameters that the CartOptCtrl sensor will get -->
    <rosparam unless="$(arg sim)" ns="CartOptCtrl" subst_value="true">
        kp_lin: 600.0
        kd_lin: 10.0
        kp_ang: 250.0
        kd_ang: 5.0
        trajectory_frame: ati_link
        dx_ang_max: 100.0
        dw_max: 0.1
        use_jdot_qdot: true
        use_f_ext: true
        use_coriolis: true
        use_xd_des: true
        use_coriolis: true
        use_xdd_des: true
        use_ft_sensor: true
        use_damping: false
        use_nso: false
        kp_ref: 100.0
        damping: 10.0
        spacenav_scale_trans: 0.0001
        spacenav_scale_rot: 0.0001
    </rosparam>

<!--============ LWR Runner script ===============-->

    <include file="$(find lwr_utils)/launch/run.launch">
        <arg name="sim" value="$(arg sim)" />
        <arg name="ops_script" value="$(find cart_opt_ctrl)/scripts/run.ops"/>
        <arg name="robot_ns" value="$(arg robot_ns)"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="rviz" value="$(arg rviz)" />
        <arg name="log_level" value="$(arg log_level)" />
        <arg name="tip_link" value="$(arg tip_link)"/>
        <arg name="load_base" value="$(arg load_base)" />
        <arg name="load_ati_sensor" value="$(arg load_ati_sensor)" />
        <arg name="load_calib_tool" value="$(arg load_calib_tool)" />
        <arg name="load_handle" value="$(arg load_handle)" />
        <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
    </include>

</launch>
