<?xml version="1.0" encoding="UTF-8" ?>
<launch>
<!--============ ATI F/T Sensor Params ============-->

    <!-- The ATI Sensor default ip -->
    <arg name="ft_ip" default="192.168.100.103"/>
    <!-- The ATI Sensor calibration index (-1 is 'use default') -->
    <arg name="ft_calibration_index" default="-1"/>
    <!-- The name of the Wrench frame -->
    <arg name="ft_frame" default="ati_link"/>

    <!-- The parameters that the ft_component sensor will get -->
    <rosparam ns="ft_sensor" subst_value="true">
        ip: $(arg ft_ip)
        calibration_index: $(arg ft_calibration_index)
        frame: $(arg ft_frame)
    </rosparam>

<!--============ LWR Runner script Params ========-->

    <!-- The end effector frame (you'll be able to use frames <= tip_link for cartesian position, jacobians etc.) -->
    <arg name="tip_link" default="ati_link"/>
    <!-- Run Simulated robot (need to 'roslaunch rtt_lwr_gazebo lwr_gazebo.launch' first) -->
    <arg name="sim" default="false" />
    <!-- The global namespace if you need to change it (unlikely) -->
    <arg name="robot_ns" default="/"/>
    <!-- Run in GDB -->
    <arg name="debug" default="false" />
    <!-- Launch rviz -->
    <arg name="rviz" default="false" />
    <!-- The level of verbose (never, fatal, critical, error, warning, info, debug, realtime) -->
    <arg name="log_level" default="error" />
    <!-- Tools -->
    <arg name="load_base" default="true" />
    <arg name="load_table" default="true" />
    <arg name="load_ati_sensor" default="true" />
    <arg name="load_handle" default="true" />
    <!-- Gazebo -->
    <arg name="gazebo_gui" default="false"/>
    
<!--============ CartOptCtrl Params ============-->

    <!-- The parameters that the CartOptCtrl sensor will get -->
    <rosparam ns="CartOptCtrl" subst_value="true">
      Torque_Max : [175.0, 175.0, 99.0, 99.0, 99.0, 37.0, 37.0]
      Joint_Velocity_Max : [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
      P_gain : [1080.0, 1080.0, 1080.0, 1080.0, 1080.0, 1080.0]
      D_gain : [22.0, 22.0, 22.0, 22.0, 22.0, 22.0]
      Position_Saturation : 0.01
      Orientation_Saturation : 0.0314
      Regularisation_Weight : [0.00001, 0.00001,0.00001, 0.00001, 0.00001, 0.00001, 0.00001]
      Compensate_Gravity : true
      Damping_Weight : [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
      FrameOfInterest : "ati_link"
      SelectComponent0 : [1,1,1,1,1,1]
      SelectAxis0 : [1,1,1,1,1,1,1]
      SelectComponent1 : [0,0,0,0,0,0]
      SelectAxis1 : [0,0,0,0,0,0,0]
      SelectComponent2 : [0,0,0,0,0,0]
      SelectAxis2 : [0,0,0,0,0,0,0]
      SelectComponent3 : [0,0,0,0,0,0]
      SelectAxis3 : [0,0,0,0,0,0,0]
      SelectComponent4 : [0,0,0,0,0,0]
      SelectAxis4 : [0,0,0,0,0,0,0]
      SelectComponent5 : [0,0,0,0,0,0]
      SelectAxis5 : [0,0,0,0,0,0,0]
    </rosparam>

<!--============ LWR Runner script ===============-->

    <include file="$(find lwr_utils)/launch/run.launch">
        <arg name="sim" value="$(arg sim)" />
        <arg name="ops_script" value="$(find cart_opt_ctrl)/scripts/run_cart_opt_comp.ops"/>
        <arg name="robot_ns" value="$(arg robot_ns)"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="rviz" value="$(arg rviz)" />
        <arg name="log_level" value="$(arg log_level)" />
        <arg name="tip_link" value="$(arg tip_link)"/>
        <arg name="load_base" value="$(arg load_base)" />
        <arg name="load_table" value="$(arg load_table)" />
        <arg name="load_ati_sensor" value="$(arg load_ati_sensor)" />
        <arg name="load_handle" value="$(arg load_handle)" />
        <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
    </include>

</launch>
