<?xml version="1.0" encoding="UTF-8" ?>
<launch>

  <!--============ LWR Runner script Params ========-->
  <!-- The end effector frame (you'll be able to use frames <= tip_link for cartesian position, jacobians etc.) -->
  <arg name="tip_link" default="laser_source"/>
  <!-- The root_link will be frame used for sending goals to the cartesian controller -->
  <arg name="root_link" default="table_link"/>
  <!-- Run Simulated robot (need to 'roslaunch rtt_lwr_gazebo lwr_gazebo.launch' first) -->
  <arg name="sim" default="false" />
  <!-- The global namespace if you need to change it (unlikely) -->
  <arg name="robot_ns" default="/"/>
  <!-- Run in GDB -->
  <arg name="debug" default="false" />
  <!-- Launch rviz -->
  <arg name="rviz" default="false" />
  <!-- The level of verbose (never, fatal, critical, error, warning, info, debug, realtime) -->
  <arg name="log_level" default="error" />
  <!-- Tools -->
  <arg name="load_base" default="true" />
  <arg name="load_table" default="true" />
  <arg name="load_laser" default="true" />
  <arg name="load_ati_sensor" default="true" />
  <arg name="load_weight" default="true" />
  <arg name="load_handle" default="true" />
  <arg name="load_calib_tool" default="false" />
  <!-- Gazebo -->
  <arg name="gazebo_gui" default="false"/>
    <!--  Modify root link  -->
 
  <!--============ CartOptCtrl Params ============-->
    <rosparam ns="CartOptCtrl" subst_value="true">
      torque_max : [160.0, 160.0, 85.0, 85.0, 85.0, 28.0, 28.0]
      joint_vel_max : [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
    
      <!--PD-->
      <!--p_gains : [1080.0, 1080.0, 1080.0, 3500.0, 3500.0, 3500.0]
      d_gains : [12.0, 12.0, 12.0, 30.0, 30.0, 30.0]
      i_gains : [0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
      integral_saturation : 0-->
      

      <!--PID-->
      p_gains : [600.0, 300.0, 300.0, 200.0, 200.0, 200.0] 
      d_gains : [4.68., 1.81, 1.81, 0., 0., 0.]
      i_gains : [19.42, 12.37, 12.37, 0, .0, .0]
      integral_pos_saturation : 1
      integral_ori_saturation : 50
      position_saturation : 0.1
      orientation_saturation : 0.3
      Ec_lim : 10
      F_lim : 100
      horizon : 15
      regularisation_weight : 0.000001
      compensate_gravity : true
      static_pointing : false
      damping_weight : [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
      frame_of_interest :  $(arg tip_link)
      select_components_0 : [1,1,1,1,1,1]
      select_axes_0 : [1,1,1,1,1,1,1]
      select_components_1 : [0,0,0,0,0,0]
      select_axes_1 : [0,0,0,0,0,0,0]
      select_components_2 : [0,0,0,0,0,0]
      select_axes_2 : [0,0,0,0,0,0,0]
      select_components_3 : [0,0,0,0,0,0]
      select_axes_3 : [0,0,0,0,0,0,0]
      select_components_4 : [0,0,0,0,0,0]
      select_axes_4 : [0,0,0,0,0,0,0]
      select_components_5 : [0,0,0,0,0,0]
      select_axes_5 : [0,0,0,0,0,0,0]
    </rosparam>
  <!--============ LWR Runner script ===============-->

  <include file="$(find lwr_utils)/launch/run.launch">
    <arg name="sim" value="$(arg sim)" />
    <arg name="ops_script" value="$(find cart_opt_ctrl)/scripts/tuning_w_impulse.ops"/>
   <arg name="robot_ns" value="$(arg robot_ns)"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="log_level" value="$(arg log_level)" />
    <arg name="tip_link" value="$(arg tip_link)"/>
    <arg name="root_link" value="$(arg root_link)"/>
    <arg name="load_base" value="$(arg load_base)" />
    <arg name="load_table" value="$(arg load_table)" />
    <arg name="load_weight" value="$(arg load_weight)" />
    <arg name="load_laser" value="$(arg load_laser)" />    
    <arg name="load_ati_sensor" value="$(arg load_ati_sensor)" />
    <arg name="load_calib_tool" value="$(arg load_calib_tool)" />
    <arg name="load_handle" value="$(arg load_handle)" />
    <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
  </include>

</launch>
